.register__cont {
    width: 100%;
}

.register__cont h3 {
    padding: 3rem 2.5rem;
    letter-spacing: 0.05em;
    font-size: 1.5rem;
    border-bottom: 2px solid #0000003d;
    background-color: #2c2c2c;
    color: white;
}

.register__cont form {
    padding: 1.5rem 2.5rem;
}

.register__cont form * {
    letter-spacing: 0.05em;
}

.register__cont form {
    line-height: 2rem;
    margin-bottom: 1.5rem;
}

.register__cont form div {
    margin-bottom: 1rem;
}

.register__cont form input {
    padding: .5rem 1rem;
    font-size: 1rem;
    border: 1.5px solid #0000003d;
    outline: none;
    border-radius: 5px;
    width: 100%;
    transition: 0.3s;
}

.register__cont form input:focus,
.register__cont form input:hover {
    border: 1.5px solid #0000009d;
    background-color: #e9e9e9;
}

.register__cont form .btn {
    margin-top: .5rem;
    padding: .5rem 1rem;
    border-radius: 5px;
    transition: 0.3s;
    background-color: #fff;
    border: 1.5px solid #0000003d;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.05em;
    transition: 0.3s;
}

.register__cont form .btn:focus,
.register__cont form .btn:hover {
    border: 1.5px solid #0000009d;
    background-color: #e9e9e9;
}

.register__cont .down__text {
    width: 100%;
    padding: 0 1.5rem 1.5rem 2.5rem;
    opacity: .8;
}

ul {
    list-style: none;
}

form .errors {
    color: rgba(126, 0, 0);
}

form .errors input {
    background-color: rgba(126, 0, 0, 0.30);
}